:root {
    --black: #333;
    --dark-grey: #666;
    --light-grey: #999;
    --white: #ccc;
    --box-size: 50px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    border: 1px solid black;
}

body {
    background-color: var(--black);
    color: var(--white);
    height: 100%;
}

#gridContainer {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: stretch;
}

.grid-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 0;
}

.grid-cell {
    flex: 1;
}